<mat-toolbar color="primary">
  <span>📦 Inventario App</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </button>

  <button mat-button routerLink="/productos">
    <mat-icon>inventory</mat-icon> Productos
  </button>

  <button mat-button routerLink="/categorias">
    <mat-icon>category</mat-icon> Categorías
  </button>

  <button mat-button routerLink="/movimientos">
    <mat-icon>swap_vert</mat-icon> Movimientos
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>
  </mat-menu>
</mat-toolbar>
